.plane-title {
  text-align: center;
  text-decoration: underline;
}
.plane-title h1 {
  text-align: center;
  text-decoration: underline;
}
.description {
  text-align: center;
}
.price-capacity {
  text-align: center;
}
.autonomy {
  text-align: center;
}
.airfield {
  text-align: center;
}
.pilot {
  text-align: center;
}
.registration-model {
  text-align: center;
  font-style: italic ;
  font-size: 24px;
}
.plane-image {
  text-align: center;
}
.booking-dates {
  text-align: center;
}
.booking-other-details {
  text-align: center;
}
.booking-pilot {
  text-align: center;
}
.plane-delete-book {
  text-align: center;
}

.top-show {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}