h1 {
    font-family: helvetica;
    text-align: center;
    color: #376081;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 48px;
    margin-bottom: 24px;
}
h4 {
  font-size: 12px;
}

.flatpickr-calendar {
  z-index: 10000 !important;
}
