<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1515162816999-a0c47dc192f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
  <div class="banner-content">
    <div class="main-title">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputRegion" class="sr-only">Region</label>
          <input type="password" class="form-control" id="inputRegion" placeholder="Region">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputStartDate" class="sr-only">Start</label>
          <input type="password" class="form-control" id="inputStartDate" placeholder="Start">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputEndDate" class="sr-only">End</label>
          <input type="password" class="form-control" id="inputEndDate" placeholder="End">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputCapacity" class="sr-only">Capacity</label>
          <input type="password" class="form-control" id="inputCapacity" placeholder="End">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Go!</button>
      </form>
    </div>
  </div>

</div>