<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.pexels.com/photos/91217/pexels-photo-91217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <div class="banner-content">
    <div class="main-title">
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputCity" class="sr-only">City</label>
          <input type="text" class="form-control" id="inputCity" placeholder="City">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputStartDate" class="sr-only">Start Date</label>
          <input type="text" class="form-control" id="inputStartDate" placeholder="Start Date">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputEndDate" class="sr-only">End Date</label>
          <input type="text" class="form-control" id="inputEndDate" placeholder="End Date">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputCapacity" class="sr-only">Capacity</label>
          <input type="number" min="0" class="form-control" id="inputCapacity" placeholder="Capacity">
        </div>
        <%= link_to 'Go!', planes_path, class: "btn btn-primary" %>
          <!-- <button type="submit" class="btn btn-primary mb-2">Go!</button> -->
      </form>
    </div>
  </div>
</div>
