.logo {
	display: flex;
	font-size: 40px;
	align-items: center;
	// i:hover {
	// 	transform: rotateX(1080deg);
	// 	transition: 8s;
	// 	margin-left: 45vw;
	// }
	h3 {
	font-family: Sorts Mill Goudy;
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
	margin-right: 20px;
	}
}
