.logo {
	display: flex;
	font-size: 40px;
	align-items: center;
	i:hover {
    transition: margin-left 12s, transform 4s 2s;
		transform: rotateX(720deg) scale(1.2);
		margin-left: 55vw;
	}
	h3 {
	font-family: Sorts Mill Goudy;
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
	margin-right: 20px;
	}
}
