#new_booking {
	justify-content: space-evenly;
}

#editPlaneModal {
	h3 {
		margin-top: 20px !important;
	}
}

.modal-header {
	text-align: center;
	h3 {
		margin-top: 0;
	}
}

#modaldeletePlane {
	text-align: center;
}

#modalNewBookingFooter {
	text-align: center;
}

#modalEditPlaneBody {
	padding: 20px 40px;
}

.my-plane-bookings {
  text-align: left;
}

.ManageBookingsDialog {
  width: 60%;
}

.mybookings-card, .mybookings-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmed_status {
  color: green;
  margin-left: 10px;
}

.pending_status {
  color: orange;
  margin-left: 10px;
}

.declined_status {
  color: red;
  margin-left: 10px;
}
